@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">+</button>
<button class="btn btn-primary" @onclick="MinusCount">-</button>
<button class="btn btn-primary" @onclick="DoubleCount">*</button>
<button class="btn btn-primary" @onclick="DelaCount">/</button>
<button class="btn btn-primary" @onclick="ÅterställCount">&</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void MinusCount()
    {
        currentCount--;
    }

    private void DoubleCount()
    {
        currentCount *= 2;
    }

    private void ÅterställCount()
    {
        currentCount = 0;
    }

    private void DelaCount()
    {
        currentCount /= 2;
    }
}